.about {
    counter-reset: numbers;
    list-style-type: none;
    padding: 68px 18px 0 25px;
    &__item {
        position: relative;
        display: block;
        padding-bottom: 55px;
    }
}
.about__item::before {
    position: absolute;
    width: 108px;
    height: 232px;
    right: -24px;
    top: -82px;
    font-family: $main-font;
    font-weight: 600;
    font-size: 200px;
    line-height: 244px;
    color: rgba(50, 67, 157, 0.05);
    counter-increment: numbers;
    content: counter(numbers);
}
.about {
    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: $blue;
        padding-bottom: 13px;
    }
    &__text {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: $black;
    }
}
.about__text--bottom {
    padding-bottom: 12px;
}
.about__item p:last-of-type {
    padding-bottom: 101px;
}
.payget::after {
    position: absolute;
    content: '';
    background: url(../img/pics/paygetAbout.png) no-repeat;
    width: 170px;
    height: 44px;
    top: 326px;
    left: 15px;
}
.payget__btn {
    border: none;
	background: $blue;
	padding: 8px 33px;
	text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: $white;
    border-radius: 21px;
    margin-left: 26px;
}