.comments {
  padding-bottom: 68px;

  &__title {
    @include titleStyle;
  }

  &__heading {
    padding-bottom: 20px;
  }
}

.comments ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.comments__item {
  border-bottom: 1px solid rgba(200, 200, 200, 0.6);
  // если в проекте используется набор переменных для цветов, то лучше не использовать цвета вне этого набора

  &-heading {
    display: flex;
  }
}

.hidden {
  display: none;
}

.comments__item:not(:first-child) {
  padding-top: 37px;
  padding-bottom: 2px;
}

.comments__info {
  @include commentsInfo;
  padding-bottom: 3px;

  &-data {
    font-weight: 600;
    padding-top: 20px;
  }
}

.user {
  padding-right: 7px;
}

.svg-grey {
  fill: #d0cdcd;
  stroke-width: 1px;
}

.svg-white {
  fill: $white;
}

.comments__text {
  @include commentsInfo;
  font-style: italic;
  font-weight: 400;
  color: $black;
  padding-bottom: 17px;
}

.comments__text:not(:first-child) {
  padding-top: 12px;
}

.comments__info--bottom {
  // bottom - это булевый модификатор ?
  // http://vithar.github.io/bem.info/ru/methodology/naming-convention/
  padding-bottom: 9px;
}
