.comments {
  padding-right: 6px;
  padding-bottom: 71px;
  &__title {
    @include titleStyle;
  }
  &__heading {
    padding-bottom: 18px;
  }
}

.comments ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.comments__item {
  border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

.comments__item:not(:first-child) {
  padding-top: 34px;
}

.comments__info {
  @include commentsInfo;
  padding-bottom: 3px;

  &-data {
    font-weight: 600;
    padding-top: 20px;
  }
}

.svg-grey {
  fill: #D0CDCD;
  stroke-width: 1px;
}

.svg-white {
  fill: $white;
}

.comments__text {
  @include commentsInfo;
  font-style: italic;
  font-weight: 400;
  color: $black;
  padding-top: 12px;
  padding-bottom: 17px;
}

.comments__info--bottom {
  padding-bottom: 9px;
}

.user br {
  display: none;
}
