.content__wrapper-privacy {
  margin-bottom: 27px;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 28px;
  margin: 20px 26px 49px;
}

.privacy {
  position: relative;
  padding: 20px 12px 15px 22px;

  &__title {
    @include cardTitle;
    font-size: 1em; //16px;
    border-left: 2px solid $blue;
    padding-left: 12px;
    margin-bottom: 17px;
  }

  &__list {
    margin: 0;
    padding-left: 10px;
    padding-right: 15px;
    list-style-type: none;
    position: relative;
  }

  &__item {
    padding-bottom: 13px;
  }
}

.company-card__logo {
  align-self: center;
}

.company-card__screen {
  align-self: center;
}

.privacy__item-heading {
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  padding-bottom: 11px;
}
.privacy__policy-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: $black;
}

.privacy__policy-text {
  font-weight: 400;
}

.privacy__list::before {
  position: absolute;
  z-index: -1;
  content: "";
  background: url("../img/pics/Group54.svg") no-repeat;
  width: 182px;
  height: 187px;
  top: 83px;
  right: -115px;
}

.privacy__list::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: url("../img/pics/Group54.svg") no-repeat;
  width: 182px;
  height: 187px;
  top: 649px;
  left: -69px;
}
