.rating {
  background-color: $white;
  border-radius: 14px;
  position: relative;
  z-index: 2;
  margin: 28px 16px 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 59px;
    color: $blue;
    padding: 11px 27px 0 27px;
    text-align: center;
  }
}

.table {
  border: 2px solid transparent;
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;

  &__link {
    display: none;
  }
}

.table__names {
  background-color: $light-grey;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  line-height: 13px;
  color: $dark-grey;
}

.desktop-col-name {
  display: none;
}

.col-name {
  width: 53px;
}

.col-stars {
  width: 76px;
}

.col-currency {
  width: 45px;
}

.col-view {
  width: 53px;
}

.col-site {
  width: 46px;
}

td img {
  display: block;
}

thead {
  width: 100%;
  height: 7em;
}

.table__thead-title {
  word-break: break-word;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: $dark-grey;
  background-color: $light-grey;
}

.big {
  display: none;
}

.short {
  display: inline-block;
  margin: 0 auto;
}

.desktop {
  display: none;
}

.svg-mobile {
  width: 18px;
  height: 20px;
}

.svg-yellow {
  fill: $star-yellow;
  stroke-width: 1px;
}

.svg-yellow path {
  stroke: $star-yellow;
}

.svg-none {
  display: none;
}

td,
th {
  border: 0.16px solid rgba(200, 200, 200, 0.6);
  text-align: center;
}

td a {
  text-decoration: underline;
  font-weight: 500;
  font-size: 1em; //11px;
  line-height: 13px;
  color: $blue;
}

.amount {
  @include tableFont;
  color: $green;
  padding-top: 27px;
  padding-bottom: 25px;
}

.reviews {
  @include tableFont;
  color: $blue;
}

.td-padding {
  padding-right: 10px;
  padding-left: 10px;
}
