@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/montserrat/Montserrat-Regular.ttf") format("ttf"), url("../../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../../fonts/montserrat/Montserrat-Regular.eot") format("eot");
}
@font-face {
    font-style: italic;
    font-weight: 400;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../../fonts/montserrat/Montserrat-Italic.woff") format("woff"), url("../../fonts/montserrat/Montserrat-Italic.ttf") format("ttf"), url("../../fonts/montserrat/Montserrat-Italic.eot") format("eot");
}
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../../fonts/montserrat/Montserrat-Medium.ttf") format("ttf"), url("../../fonts/montserrat/Montserrat-Medium.eot") format("eot");
}
@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Montserrat";
    font-display: swap;
    src: url("../../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../../fonts/montserrat/Montserrat-Medium.ttf") format("ttf"), url("../../fonts/montserrat/Montserrat-Medium.eot") format("eot");
}
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Gilroy";
    font-display: swap;
    src: url("../../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/montserrat/Gilroy-Medium.woff") format("woff"), url("../../fonts/montserrat/Montserrat-Medium.ttf") format("ttf"), url("../../fonts/montserrat/Montserrat-Medium.eot") format("eot");
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Gilroy";
    font-display: swap;
    src: url("../../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/montserrat/Gilroy-Bold.woff") format("woff"), url("../../fonts/montserrat/Montserrat-Medium.ttf") format("ttf"), url("../../fonts/montserrat/Montserrat-Medium.eot") format("eot");
}