@import "fonts";
@import "variables";
@import "normalize";
@import "mixins";
@import "partials/header";
@import "partials/company-card";
@import "partials/intro";
@import "partials/rating";
@import "partials/choice";
@import "partials/comments";
@import "partials/form";
@import "partials/description";
@import "partials/about";
@import "partials/faq";
@import "partials/info";
@import "partials/_footer";
@import "partials/privacy";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font;
}

.main {
  min-width: 320px;
  background-color: $background-color;
  min-height: auto;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    min-height: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1440px;
  }
}

.container {
  margin: 0 36px;
}

.content {
  @include background;
  position: relative;
  z-index: 0;
  border-radius: 0;
  overflow: hidden;

  &__wrapper {
    box-shadow: $box-shadow;
    background-color: $white;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    padding: 36px 18px 0 26px;
  }
}

@media (min-width: 500px) {
  .container {
    margin: 0 42px;
  }

  .company-card__logo,
  .company-card__screen {
    display: none;
  }

  .company-card__logo-size {
    display: block;
    padding-bottom: 20px;
    align-self: center;
  }

  .company-card__screen-size {
    display: block;
    padding-top: 30px;
    align-self: center;
  }

  .short {
    display: none;
  }

  .big {
    display: initial;
  }

  .desktop-col-name {
    display: block;
  }

  .table__link {
    display: block;
  }

  .svg-none {
    display: inline-block;
  }

  .col-name {
    width: 140px;
  }

  .col-stars {
    width: 110px;
  }

  .col-view {
    width: 100px;
  }

  .footer__wrapper::after {
    top: 58%;
  }
}

@media (min-width: $tablet-width) {
  //heafer
  .header {
    min-width: $tablet-width;
    position: fixed;
    width: 100%;
    background-color: $white;
    z-index: 999;

    &__wrapper {
      padding: 11px 50px;
    }

    &__logo {
      padding-right: 0;
    }
  }

  .header__wrapper-logo {
    padding-right: 0;
  }

  .small-logo-hidden {
    display: none;
  }

  .big-logo-hidden {
    display: block;
  }

  //intro
  .intro {
    padding-top: 50px;
  }

  .intro__wrapper {
    align-items: flex-start;
    padding-bottom: 120px;
  }

  .intro__text {
    padding-top: 20px;
  }

  .intro__text-content {
    padding-left: 1%;
  }

  .social {
    margin-left: 6%;
  }

  .arrows {
    bottom: 20px;
    left: 50%;
  }

  .intro::before {
    top: 115px;
  }

  .intro__wrapper::after {
    position: absolute;
    background-image: url("../img/pics/Group202.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 390px;
    height: 362px;
    top: 106px;
    right: 2%;
  }
  //rating
  .desktop {
    display: none;
  }

  .rating__link {
    display: block;
  }

  td a {
    color: $blue;
  }

  td img {
    display: inherit;
  }

  // .col-name {
  //   width: 235px;
  // }

  .col-stars {
    width: 170px;
  }

  .col-site {
    width: 140px;
  }

  .td-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .svg-yellow {
    width: 28px;
    height: 30px;
  }

  .svg-yellow path {
    stroke: $star-yellow;
  }

  .svg-none {
    display: inline-block;
    width: 28px;
    height: 30px;
    fill: $white;
  }

  .svg-none path {
    stroke: $star-grey;
  }

  .col-name {
    width: 160px;
  }

  .col-currency {
    width: 83px;
  }
  //about
  .about {
    padding-left: 40px;
    padding-right: 40px;

    &__text {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .about__list-title,
  .about__list-item {
    font-size: 12px;
  }

  .short {
    display: none;
  }

  .big {
    display: inline-block;
  }

  .btn:hover {
    @include btn-hover;
  }
  //company-card
  .content__wrapper-border {
    margin-top: 70px;
  }

  .company-card {
    padding-left: 42px;
    padding-right: 47px;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__description {
      font-size: 0.8em;
    }

    &__logo {
      padding-bottom: 0;
      padding-left: 29%;
    }

    .btn:hover {
      @include btn-hover;
    }
  }

  .company-card__about {
    &-subtitle {
      font-size: 18px;
    }

    &-review {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .add-comment {
    padding-left: 30px;
    padding-right: 30px;

    &__form {
      padding-top: 47px;
    }

    &__textarea {
      width: 100%;
    }
  }

  .add-comment__textarea::placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  .review__item {
    font-size: 0.7em;
  }

  //privacy-policy
  .privacy {
    &__title {
      font-size: 1.5em;
    }

    &__item-heading {
      font-size: 1em;
      padding-bottom: 10px;
    }
  }

  .content__wrapper-privacy {
    margin-top: 110px;
  }
  //choice
  .choice {
    &__title {
      font-size: 1.3em;
      padding-bottom: 20px;
    }

    &__text {
      font-size: 12px;
      padding-bottom: 19px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 3fr;
      padding-left: 50px;
    }

    &__item {
      font-size: 12px;
    }
  }
  //comments
  .comments {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 12px;
    }
  }
  //form
  .form {
    position: relative;

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 12px;
    }

    &__btn {
      font-size: 12px;
    }
  }

  .form__input {
    min-height: 35px;
    align-self: flex-start;
  }

  .form__info,
  .form__label {
    font-size: 13px;
    padding-bottom: 13px;
  }

  .form__textarea {
    align-self: flex-start;
  }

  .form::before {
    position: absolute;
    content: "";
    background: url("../img/pics/Group55.svg") no-repeat;
    width: 182px;
    height: 187px;
    top: 14px;
    right: -112px;
    z-index: -1;
  }
  //description
  .description {
    padding: 24px 285px 50px 35px;

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .description__text span {
    display: block;
  }

  .description::after {
    bottom: 50px;
  }
  //faq
  .faq {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .privacy__policy-text {
    font-size: 11px;
  }
  //footer
  .footer {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 89px 73px 0;

      &-item {
        @include footerFontDesktop;
        font-size: 0.9em;
        padding: 7px 0 7px 14px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        list-style-position: inside;
        border-radius: 10px;
        width: 140%;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &__description {
      padding-top: 18px;
    }
  }

  .footer__wrapper-ul-title {
    @include footerTitleDescktop;
    padding-left: 14px;
    padding-bottom: 13px;
  }

  .footer__wrapper::after {
    top: 48%;
    left: 63%;
  }

  .footer__content::before {
    top: -69px;
    left: 207px;
  }

  .footer__wrapper-desktop {
    display: none;
  }
}

@media (min-width: 1000px) {
  .rate {
    min-width: 973px;
    max-width: 1309px;
  }

  .company-card {
    position: relative;
  }

  .company-card-flex {
    display: flex;
    flex-direction: column;
    padding-right: 470px;
  }

  .company-card__screen-size {
    width: 650px;
    height: 400px;
  }

  .company-card__logo-size {
    position: absolute;
    width: 475px;
    height: 130px;
    right: 0;
  }

  .intro__text-content {
    padding-left: 6%;
  }

  .choice__text {
    font-size: 14px;
  }

  .comments {
    &__heading {
      display: flex;
      align-items: center;
      border-bottom: 2px solid #f2f2f2;
      padding-bottom: 10px;
    }

    &__info {
      padding-left: 0;
      font-size: 12px;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .hidden {
    display: block;
  }

  .comments ul {
    padding-top: 25px;
  }

  .comments__stars .svg-grey,
  .comments__stars .svg-white {
    width: 20px;
    height: 20px;
  }

  .comment__info-padding {
    padding-left: 45px;
  }

  .description__text {
    font-size: 14px;
  }

  .about__text {
    font-size: 14px;
    line-height: 16px;
  }

  .about__list-title,
  .about__list-item {
    font-size: 14px;
    line-height: 16px;
  }

  .card {
    &__title {
      font-size: 14px;
    }
  }

  .review__list {
    max-height: 250px;
    overflow: scroll;
  }

  .review__item-none {
    display: block;
  }

  .info__text {
    font-size: 14px;
    line-height: 16px;
  }

  .social {
    margin-left: 105px;
  }

  .footer__wrapper {
    display: none;
  }

  .footer__wrapper-item:hover {
    @include selectFocus;
  }

  .footer__wrapper-desktop {
    display: block;
    margin: 0 auto;
  }

  .footer__wrapper-desktop-content {
    padding: 46px 40px;
    display: flex;
    justify-content: space-between;
  }

  ul .footer__wrapper-item::marker {
    color: $color-grey;
  }

  .footer__wrapper-ol {
    list-style-position: inside;
    padding-left: 0;

    &-title {
      @include footerTitleDescktop;
      padding-bottom: 10px;
      margin-left: 0;
    }
  }

  .footer__wrapper-ul {
    padding-left: 0;
  }

  .footer__wrapper-ol-item a {
    @include footerFontDesktop;
    font-size: 0.9em;
    padding-bottom: 15px;
    cursor: pointer;
  }

  .footer__wrapper-ol-item::marker {
    color: $white;
  }

  .footer__wrapper-info::before {
    position: absolute;
    content: "";
    background: url("../img/pics/main-logo.png") no-repeat;
    width: 227px;
    height: 56px;
  }

  .font {
    font-size: 1.2em;
  }

  .blog__title {
    font-size: 1em;
  }

  .footer__wrapper-desktop-description {
    text-align: start;
    width: 220px;
    padding: 55px 0 0 0;
  }

  .footer__wrapper-nav {
    padding-left: 0;
    list-style-type: none;

    &-item {
      padding: 0;
      line-height: 12px;
    }
  }

  .email {
    font-weight: 700;
  }

  .footer__wrapper-nav-email {
    font-size: 0.6em;
  }

  .footer__wrapper-nav a {
    text-decoration: none;
    color: $white;
    font-size: 0.6em;
    font-weight: 700;
  }

  .footer__social-desktop {
    padding-top: 17px;
    margin-left: 0;
  }

  .footer__nav {
    &-list {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    &-item {
      @include footerTitleDescktop;
      font-size: 1em;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .footer__nav-item:not(:last-child) {
    margin-right: 65px;
  }

  .footer__nav-item a {
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .header__wrapper {
    min-width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .up {
    position: fixed;
    cursor: pointer;
    bottom: 46px;
    right: 58px;
    z-index: 999;
    width: 55px;
    height: 55px;
  }

  .main {
    max-width: 100%;
  }

  .container {
    min-width: 1250px;
    max-width: 1440px;
  }

  .content {
    max-width: 1440px;
    margin: 0 auto;
  }

  .content__wrapper {
    margin: 0 auto;
    max-width: 1240px;
    padding: 459px 50px 0;
  }
  //company-card
  .page {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
  }

  .company-card {
    padding: 35px 104px 20px;

    &__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
    }

    &-flex {
      padding-right: 536px;
      padding-bottom: 11px;
    }

    &__description {
      font-size: 14px;
      line-height: 17px;
    }

    &__buttons {
      flex-direction: row;
      margin-left: 0;
    }

    &__btn {
      width: 200px;
    }

    &__logo-size {
      width: 533px;
      height: 147px;
      top: 68px;
      left: 712px;
    }
  }

  .company-card__screen-size {
    padding-top: 69px;
    width: 1110px;
    height: 625px;
  }

  .company-card__btn:not(:last-child) {
    margin-bottom: 0;
  }

  .flex a:not(:last-child) {
    margin: 0 54px 0 0;
  }

  .company-card .flex {
    width: 166px;
  }

  .company-card__about:not(:first-child) {
    padding-top: 65px;
    margin-bottom: -11px;
    padding-right: 35px;
  }

  .company-card__about-subtitle {
    padding-bottom: 18px;
    font-size: 26px;
  }

  .company-card .company-card__about {
    &-subtitle {
      font-size: 26px;
    }
  }

  .company-card::after {
    background-size: cover;
    width: 238px;
    height: 235px;
    top: 807px;
    left: 1140px;
  }

  .page .add-comment {
    margin-top: 56px;
    padding-bottom: 120px;

    &__help {
      font-size: 16px;
      line-height: 20px;
    }

    &__btn {
      position: absolute;
      left: -163px;
      bottom: -79px;
      padding: 10px 35px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .review {
    position: relative;
    padding: 51px 35px 57px 107px;

    &__item {
      padding-top: 46px;
      padding-bottom: 22px;
      width: 1112px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      word-break: break-word;
      width: 926px;
    }

    &__list {
      max-height: 525px;
    }
  }

  .review__list::-webkit-scrollbar {
    border: 1px solid $grey;
    width: 9px;
  }

  .review__list::-webkit-scrollbar-track {
    background: $white;
  }

  .review__list::-webkit-scrollbar-thumb {
    background: #dbe1f2;
    border-radius: 17px;
  }

  .page .review {
    margin-top: 56px;
    padding-bottom: 67px;
    margin-bottom: 78px;
  }

  .review::before {
    position: absolute;
    z-index: -1;
    content: "";
    background: url("../img/pics/Group55.svg") no-repeat;
    background-size: cover;
    width: 382px;
    height: 318px;
    left: -186px;
    top: -312px;
  }
  //privacy-policy
  .content__wrapper-privacy {
    margin: 128px 57px 101px;
  }

  .privacy {
    padding: 84px 69px 54px 81px;

    &__title {
      font-weight: 600;
      font-size: 42px;
      line-height: 51px;
      margin-bottom: 0;
    }

    &__item-heading {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 21px;
    }

    &__policy-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }

    &__list {
      padding-right: 10px;
      padding-left: 0;
    }

    &__item {
      padding-top: 50px;
      padding-bottom: 0;
    }
  }

  .privacy__item:not(:first-child) {
    padding-top: 20px;
  }

  //header
  .header__logo {
    padding-right: 0;
  }

  .small-logo-hidden {
    display: none;
  }

  .nav__bar-btn {
    display: none;
  }

  .nav__details {
    position: relative;
  }

  .nav__details .categories {
    position: absolute;
    background-color: $white;
    padding: 15px 5px;
  }

  .categories__list {
    padding-left: 23px;
  }

  .nav {
    &__list {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__item {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__filter {
      padding-left: 0;
      padding-right: 0;
    }

    &__name {
      padding-bottom: 0;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .nav__name-btn {
    padding: 13px 34px;

    @include btn-static;
    border-radius: 34px;
    display: inline-block;
  }

  .nav__name-btn:hover {
    @include btn-hover;
  }

  .nav__item:not(:last-child) {
    padding-right: 41px;
  }
  //intro
  .intro::before {
    width: 44px;
    height: 44px;
    top: 236px;
    left: 77px;
  }

  .intro::after {
    width: 21px;
    height: 21px;
    top: 210px;
    left: 28px;
  }

  .intro {
    &__wrapper {
      padding: 28px 0 200px;
      margin: 0 auto;
    }

    &__title {
      font-weight: 600;
      font-size: 134px;
      line-height: 145px;
      align-self: flex-start;
      padding-left: 0;
      padding-top: 143px;
    }

    &__subtitle {
      padding-left: 0;
      font-size: 62px;
      line-height: 58px;
      align-self: flex-start;
      padding-bottom: 18px;
    }

    &__img {
      width: 594px;
      height: 554px;
      top: 79px;
      right: 81px;
    }

    &__text {
      padding-top: 7px;
      padding-left: 0;
      bottom: 300px;
      font-size: 1em; //16px;
      line-height: 20px;
      min-width: 414px;
    }
  }

  .intro__text-content {
    padding-left: 13%;
  }

  .intro__wrapper::after {
    width: 594px;
    height: 554px;
    right: 81px;
    top: 77px;
  }

  .social {
    flex-direction: column;
    padding-top: 0;
    margin-left: 0;
    margin-top: -89px;

    &__item:not(:last-child) {
      padding-bottom: 18px;
    }
  }

  .arrows {
    bottom: 234px;
    left: 27%;
  }

  .content__wrapper-border {
    margin: 100px 57px 0;
    padding-bottom: 52px;
  }

  //rating
  .rating {
    position: relative;
    z-index: 2;
    margin: 0 auto;

    &__title {
      font-weight: 600;
      font-size: 26px;
      text-align: inherit;
      line-height: 32px;
      padding: 29px 0 27px 66px;
    }
  }

  .rate {
    position: absolute;
    z-index: 2;
    min-width: 1309px;
    max-width: 1309px;
    background-color: $white;
    border-radius: 34px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    top: -89px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  thead {
    height: 6em;
  }

  td a {
    text-decoration: none;
    color: $blue;
  }

  .table__thead-title {
    width: 22%;
    font-size: 1.3em;
    line-height: 17px;
  }

  .table__col {
    width: auto;
  }

  .table__link {
    text-decoration: none;
    color: $blue;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
  }

  .desktop {
    display: inline-block;
  }

  .big {
    display: none;
  }

  .short {
    display: none;
  }

  .svg-yellow {
    width: 35px;
    height: 32px;
  }

  .svg-none {
    width: 35px;
    height: 32px;
  }

  .reviews,
  .amount {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .table__logo {
    padding-left: 0;
  }

  .col-name {
    width: 243px;
  }

  .col-currency {
    width: 247px;
  }

  .col-stars {
    width: 346px;
  }

  .col-view {
    width: 216px;
  }

  .col-site {
    width: 254px;
  }
  //choice
  .choice {
    padding-right: 44px;
    padding-bottom: 104px;

    &__title {
      font-size: 1.6em;
      line-height: 32px;
      padding-bottom: 24px;
    }

    &__list {
      @include fontText;
      font-size: 0.9em;
    }

    &__item {
      font-size: 18px;
      line-height: 23px;
    }

    &__text {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      padding-bottom: 27px;

      &-heading {
        padding-bottom: 13px;
      }

      &-bottom {
        padding-bottom: 15px;
      }
    }

    &__flex {
      padding-bottom: 20px;
    }
  }

  .choice__text-style {
    font-weight: 600;
  }
  //comments
  .comments {
    padding-bottom: 104px;

    &__title {
      @include fontTitle;
    }

    &__info {
      font-size: 14px;
      line-height: 20px;
      margin-top: -7px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 29px;
    }

    &__stars {
      padding-left: 185px;
      margin-top: -37px;
    }

    &__item {
      margin-bottom: 10px;
    }
  }

  .comments__text:not(:first-child) {
    padding-top: 23px;
  }

  .user {
    font-style: normal;
    padding-left: 0;
    padding-bottom: 10px;
  }

  .comments__item-heading {
    display: block;
    padding-top: 3px;
  }

  //form
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 82px;

    &__title {
      @include fontTitle;
    }

    &__info {
      font-size: 14px;
      line-height: 17px;
      font-style: normal;
      padding-bottom: 23px;
    }

    &__label {
      font-size: 14px;
      line-height: 17px;
    }

    &__input {
      max-width: 100%;
      min-width: 1080px;
      max-height: 60px;
      min-height: 60px;
    }

    &__textarea {
      max-width: 100%;
      min-width: 1080px;
      max-height: 190px;
      min-height: 190px;
      margin-bottom: 34px;
    }

    &__btn {
      align-self: flex-start;
    }

    &__area {
      padding-top: 0;
    }

    &__stars {
      padding-bottom: 28px;
    }
  }

  .form::before {
    right: -138px;
  }

  .svg-add-star {
    fill: $white;
    stroke-width: 1px;
    stroke: $star-yellow;
    margin-right: 3px;
  }

  .form .form__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 34px;
    padding: 13px 34px;
  }


  //description
  .description {
    padding: 95px 635px 106px 81px;
    margin-left: -80px;
    margin-right: -79px;

    &__title {
      font-size: 32px;
      line-height: 45px;
      padding-bottom: 20px;
    }

    &__text {
      font-weight: 600;
      font-size: 16px;
      line-height: 139.9%;
      padding-right: 20px;
    }
  }

  .description::after {
    position: absolute;
    content: "";
    background: url("../img/pics/Group99.png") no-repeat;
    width: 760px;
    height: 680px;
    top: -58px;
    right: -166px;
  }

  .description__text:not(:last-child) {
    padding-bottom: 46px;
  }
  //about
  .about {
    padding: 44px 0 113px;

    &__title {
      font-size: 32px;
      line-height: 39px;
      padding-bottom: 20px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      padding-right: 485px;
    }

    &__img--hidden {
      display: block;
    }
  }

  .about__img {
    display: none;
  }

  .about__text:not(:last-child) {
    padding-bottom: 16px;
  }

  .about__item:not(:last-child) {
    padding-bottom: 111px;
  }

  .about__list {
    padding-right: 496px;

    &-title {
      padding-bottom: 15px;
    }
  }

  .flex {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .btn {
    padding: 8px 28px;
    font-size: 16px;
    line-height: 20px;
    width: 199px;
  }

  .btn:not(:last-child) {
    margin-right: 55px;
  }

  .about__item::after {
    counter-increment: numbers;
    content: counter(numbers);
    font-weight: 600;
    font-size: 300px;
    line-height: 366px;
    width: 121px;
    height: 232px;
    right: 466px;
    top: -90px;
    color: rgba(50, 67, 157, 0.05);
  }

  .about__item:nth-child(odd)::after {
    right: 827px;
  }

  .about::after {
    width: 44px;
    height: 44px;
    bottom: -8px;
    left: -8px;
  }

  .img-payget,
  .img-enter-change,
  .img-kassa,
  .img-baksman,
  .img-365cash {
    display: none;
  }

  .payget {
    position: relative;
  }

  .about__item p:last-of-type {
    padding-bottom: 31px;
  }

  .btn-size {
    width: 121px;
  }

  .payget::before {
    position: absolute;
    content: "";
    background: url("../img/pics/paygetDesktop.png") no-repeat;
    width: 399px;
    height: 103px;
    right: 0;
    top: 70px;
  }

  .enter-change {
    position: relative;
  }

  .enter-change::before {
    position: absolute;
    content: "";
    background: url("../img/pics/enter-changeDesktop.png") no-repeat;
    width: 369px;
    height: 155px;
    top: 54px;
    right: 0;
  }

  .kassa {
    position: relative;
  }

  .kassa::before {
    position: absolute;
    content: "";
    background: url("../img/pics/kassaDesktop.png") no-repeat;
    width: 369px;
    height: 99px;
    top: 72px;
    right: 0;
  }

  .baksman {
    position: relative;
  }

  .baksman::before {
    position: absolute;
    content: "";
    background: url("../img/pics/baksmanDesktop.png") no-repeat;
    width: 361px;
    height: 147px;
    top: 90px;
    right: 0;
  }

  .cash365 {
    position: relative;
  }

  .cash365::before {
    position: absolute;
    content: "";
    background: url("../img/pics/365CashDestop.png") no-repeat;
    width: 374px;
    height: 116px;
    top: 72px;
    right: 17px;
  }
  //faq
  .faq {
    margin-left: -99px;
    margin-right: -99px;
    padding: 33px 18px 42px 74px;

    &__title {
      font-size: 32px;
      line-height: 39px;
      padding-bottom: 25px;
    }

    &__list {
      padding-left: 50px;
      padding-right: 248px;
    }
  }

  .faq::before {
    top: 40px;
    left: -12px;
  }

  .faq::after {
    @include circlePseudoElement;
    width: 157px;
    height: 119px;
    background: url("../img/pics/Rectangle555.svg") no-repeat;
    bottom: 59px;
    right: 62px;
    background-size: contain;
  }

  .card {
    &__title {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 22px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-left: -25px;
    }
  }

  .circle::before {
    width: 48px;
    height: 47px;
    top: -146px;
    right: -150px;
  }

  .circle::after {
    width: 21px;
    height: 21px;
    top: -201px;
    right: -28px;
  }
  //info
  .info {
    padding-top: 57px;
    padding-bottom: 67px;

    &__title {
      font-size: 28px;
      line-height: 34px;
      padding-bottom: 18px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
      padding-left: 131px;
      padding-right: 135px;
    }
  }
  //footer
  .footer {
    &__item {
      padding-bottom: 37px;
    }

    &__wrapper {
      display: none;
      justify-content: space-around;
      padding-bottom: 0;

      &-el {
        margin-left: -159px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    &-info {
      position: relative;
    }

    &__description {
      text-align: start;
    }

    &__news {
      margin-left: 13%;
    }
  }

  .blog__title {
    font-size: 20px;
  }

  .footer__wrapper::after {
    left: 300px;
  }

  .footer__social {
    margin-top: 30px;
    flex-direction: row;
  }

  .copyright {
    padding: 27px 201px 20px;
  }

  .social__item {
    padding-bottom: 0;
  }

  .footer__wrapper-desktop {
    &-content {
      padding: 44px 118px;
    }
  }

  .footer__wrapper-ul,
  .footer__wrapper-ol {
    margin: 0;

    &-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .footer__wrapper-ol {
    padding-left: 7px;

    &-item {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 22px;
    }
  }

  .footer__wrapper-ol-title {
    padding-bottom: 23px;
  }

  .footer__wrapper-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding-left: 9px;
    width: 414px;
  }

  .footer__wrapper-desktop-description {
    font-size: 14px;
    width: 311px;
  }
}
