$tablet-width: 768px;
$desktop-width: 1440px;
//fonts
$main-font: "Montserrat", "Arial", sans-serif;
$secondary-font: "Gilroy", "Courier", sans-serif;
$font-weight600: 600;
$font-sise70: 70px;
$line-height85: 85px;
//colors
$box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.25);
$intro-background: linear-gradient(0deg, #242a4b, #242a4b);
$blue: #32439d;
$white: #ffffff;
$light-grey: #f2f2f2;
$grey: #bcbcbc;
$grey-grey: #bdbdbd;
$grey-color: #666a81;
$grey-grey: #777777;
$light-black: #3a3f5d;
$dark-grey: #747474;
$color-grey: #8f8f8f;
$background-color: #dbe1f2;
$hard-dark-blue: #37406c;
$very-dark-blue: #242a4b;
$green: #3aaf9b;
$black: #000000;
$dark-blue: #273687;
$cp-color: #5e648a;
$main-color: linear-gradient(98.66deg, #88a3e8 4.55%, #c8a1d6 109.18%);
