$tablet-width: 768px;
$desktop-width: 1440px;

//fonts
$main-font: "Montserrat", "Arial", sans-serif;
$secondary-font: "Gilroy", "Courier", sans-serif;
$font-weight600: 600;
$font-sise70: 70px;
$line-height85: 85px;

//colors
$intro-background: linear-gradient(0deg, #242A4B, #242A4B);
$blue: #32439D;
$white: #ffffff;
$light-grey: #f2f2f2;
$grey: #BCBCBC;
$grey-grey: #BDBDBD;
$dark-grey: #747474;
$background-color: #DBE1F2;
$hard-dark-blue: #37406C;
$green: #3AAF9B;
$black: #000000;
$dark-blue: #273687;
$main-color: linear-gradient(98.66deg, #88A3E8 4.55%, #C8A1D6 109.18%);